<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>

</style>
</head>	
<body class="background3">
<body><font color="#ffff00">
    <h3><font color="00FF00">Here are all of your searched ISBN numbers.</font></h3>

    <h2><% CSV.open('isbn_file2.csv', 'w') do |csv| %>
         <% CSV.read('isbn_file.csv').uniq.each { |r| csv << r } %>
    <% end %>
    <% connect2 %>


    <% CSV.foreach("isbn_file2.csv") do |row| %>
        <div class="valid">
            <font color="#ff3300"><%= row[0] %></font> - <%= row[1] %>


         </div>
    <% end %>
    <br><br>


    <button onclick="window.location.href='/'">Return to Home Page</button>
</h2>
</font>
</body>
</html>



