<body>
    <h3>Here are all of your searched ISBN numbers.</h3>

    <h2><% CSV.open('isbn_file2.csv', 'w') do |csv| %>
         <% CSV.read('isbn_file.csv').uniq.each { |r| csv << r } %>
    <% end %>
    <% connect2 %>


    <% CSV.foreach("isbn_file2.csv") do |row| %>
        <div class="valid">
            <%= row[0] %> - <%= row[1] %>


         </div>
    <% end %>
    <br><br>


    <button onclick="window.location.href='/'">I want to go back.</button>
</h2>
</body>
</html>



