<html>
<link rel="stylesheet" href = "css/stylesheet.css">
<head>
	<title></title>
</head>
<body>
<center><h1><p id="welcome" class="m">Welcome to the ISBN Validation Website</p></h1>
	<ul>
		<li><a href="/">HOME</a></li>
	</ul>
<%=yield%>
</center>
</body>
</html>