<h2><div>Valid or Invalid ISBN Result</div></h2>
<h3><%=num%></h3>
<h3><font color="#ff0000"><%=mod_num%></font></h3>
<form method="post" action="results">
</form>


<h2>Please select "Enter Another ISBN" if you have another ISBN:
<form method="get" action="redo">
	<input type="submit" value ="Enter Another ISBN">
</form></p></h2>

<h2>Please select "Final Results" to view the final results list:
<form method="get" action="final_results">
	<input type="submit" value ="Final Results">
</form></p></h2>

