<h2><div>Valid or Invalid ISBN Result</div></h2>
<h3><%=num%></h3>
<h3><font color="#ff0000"><%=mod_num%></font></h3>
<form method="post" action="second_page">
</form>

<%data.each do |isbn| %>
	<%=isbn[0]%> - <%=isbn[1]%><br>
<%end%>

<h2>Please select "Enter Another ISBN" if you have another ISBN:
<form method="get" action="redo">
	<input type="submit" value ="Enter Another ISBN">
</form></p></h2>

